
@{

    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading">
        Fornecedores Cadastrados

    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Nome da Fornecedor</th>
                        <th>Telefone</th>
                        <th>Edereço</th>
                        <th>Ação</th>
                        <th>Inativar</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.LstFornecedores)
                    {
                        <tr class="odd gradeX">
                            
                            <td>@item.nome_fornecedor</td>
                            <td>@item.telefone_fornecedor</td>
                            <td>@item.endereco_fornecedor</td>
                            @if (@item.status_fornecedor == 1)
                            {
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" checked onclick="return false"> Ativo
                                    </label>
                                </td>
                            }@if (@item.status_fornecedor == 0)
                            {
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" onclick="return false"> Ativo
                                    </label>
                                </td>
                            }

                            <td><a href="/Fornecedor/Alterar?cod=@item.id_fornecedor&nome=@item.nome_fornecedor&telefone=@item.telefone_fornecedor&endereco=@item.endereco_fornecedor&ativo=@item.status_fornecedor" class="btn btn-warning">Alterar</a></td>




                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>
